body {
    background-color: lightskyblue;
    opacity: 1;
    align-content: center;
    text-align: center;
    font-size: medium;

}

header {
    background-color: lightskyblue;
    opacity: 0.3;
}

p{
    
}
